footer {
    display: flex;
}

.divisor {
    height: 15vh;
    width: 100%;
    background-image: url(../assets/separdor5.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 0;
}

a.volver {
    margin: 30px 20px;
}

/*redes sociales*/
.social {
    width: 100%;
    display: flex;
    justify-content: right;
    padding-left: 5%;
    letter-spacing: 1em;
    margin: 30px 20px;
}

a.icon-facebook2:visited,
a.icon-instagram:visited,
a.icon-tiktok:visited,
a.icon-whatsapp:visited {
    color: color(font);
}

a.icon-facebook2,
a.icon-instagram,
a.icon-tiktok,
a.icon-whatsapp {
    color: color(font);
    font-size: 1.5em;
    text-decoration: none;
}