// Maquetado//
.main-acerca {
  width: 90%;
  margin: 20px 5%;
  display: grid;
  grid-template-columns: 90vw;
  grid-template-rows: 7vh 60vh 50vh 70vh 7vh 70vh;
  grid-template-areas:
    "title-acerca"
    "historia1"
    "img-acerca"
    "historia2"
    "title-gallery"
    "galeria";
  row-gap: 10px;
  column-gap: 10px;

  div.title-acerca {
    grid-area: title-acerca;
    text-align: center;
  }

  .historia1 {
    grid-area: historia1;
    align-self: center;
  }

  .historia2 {
    grid-area: historia2;
    align-self: center;
  }

  .img-acerca {
    grid-area: img-acerca;
    overflow: hidden;
    border-radius: 1em;
    justify-self: center;

    img {
      width: 100%;
      @include imagen;
    }
  }

  .title-gallery {
    grid-area: title-gallery;
    text-align: center;
    align-self: center;
  }

  .gallery-acerca {
    grid-area: galeria;
    align-self: center;
    justify-self: center;
    height: 90%;
    width: 80vw;
    margin: 5% 0;

    .carousel {
      width: 90%;
      margin: auto;
      height: 100%;
      max-height: 80vh;
      .carousel-inner {
        width: 100%;
        margin: 0 5%;
        height: 100%;
        max-height: 80vh;
        .slide-acerca {
          width: 100%;
          height: 100%;
          max-height: 80vh;
          img {
            width: 90%;
            @include imagen;
            height: 100%;
            max-height: 80vh;
          }
        }
      }
    }
  }
}

//Adaptacion responsive acerca.html//

@media (min-width: view(mid)) {
  .main-acerca {
    width: 90%;
    margin: 20px 5%;
    display: grid;
    grid-template-columns: 50vw 40vw;
    grid-template-rows: 7vh 50vh 50vh 7vh 70vh;
    grid-template-areas:
      "title-acerca title-acerca"
      "historia1 img-acerca"
      "historia2 img-acerca"
      "title-gallery title-gallery"
      "galeria galeria";
    row-gap: 10px;
    column-gap: 10px;
  }
}

@media (min-width: view(large)) {
  .main-acerca {
    width: 90%;
    margin: 20px 5%;
    display: grid;
    grid-template-columns: 50vw 40vw;
    grid-template-rows: 7vh 27vh 27vh 7vh 70vh;
    grid-template-areas:
      "title-acerca title-acerca"
      "historia1 img-acerca"
      "historia2 img-acerca"
      "title-gallery title-gallery"
      "galeria galeria";
    row-gap: 10px;
    column-gap: 10px;

    .img-acerca {
      img {
        height: auto;
        width: 100%;
      }
    }
  }
}

@media (min-width: view(xlarge)) {
  .main-acerca {
    width: 90%;
    margin: 20px 5%;
    display: grid;
    grid-template-columns: 50vw 40vw;
    grid-template-rows: 7vh 20vh 20vh 7vh 70vh;
    grid-template-areas:
      "title-acerca title-acerca"
      "historia1 img-acerca"
      "historia2 img-acerca"
      "title-gallery title-gallery"
      "galeria galeria";
    row-gap: 10px;
    column-gap: 10px;

    .img-acerca {
      img {
        height: auto;
        width: 100%;
      }
    }
  }
}
