// Maquetado en _grid.scss//
div.title-acerca {
    grid-area: title-acerca;
    text-align: center;
}

.historia1 {
    grid-area: historia1;
    align-self: center;
}

.historia2 {
    grid-area: historia2;
    align-self: center;
}

.img-acerca {
    grid-area: img-acerca;
    overflow: hidden;
    border-radius: 1em;
    justify-self: center;

    img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
        border-radius: 1em;
    }
}

.title-gallery {
    grid-area: title-gallery;
    text-align: center;
}

.gallery-acerca {
    grid-area: galeria;
    height: 100%;
    width: 80%;
    justify-self: center;
}

.slide-acerca {
    height: 100%;
    width: 100%;
    img {
        border-radius: 1em;
        height: 100%;
    }
}