// Maquetado//
.main-acerca {
  width: 90%;
  margin: 20px 5%;
  display: grid;
  grid-template-columns: 90vw;
  grid-template-rows: 7vh 35vh 50vh 40vh 7vh 50vh;
  grid-template-areas:
    "title-acerca"
    "historia1"
    "img-acerca"
    "historia2"
    "title-gallery"
    "galeria";
  row-gap: 10px;
  column-gap: 10px;

  div.title-acerca {
    grid-area: title-acerca;
    text-align: center;
  }

  .historia1 {
    grid-area: historia1;
    align-self: center;
  }

  .historia2 {
    grid-area: historia2;
    align-self: center;
  }

  .img-acerca {
    grid-area: img-acerca;
    overflow: hidden;
    border-radius: 1em;
    justify-self: center;

    img {
      height: 100%;
      @include imagen;
    }
  }

  .title-gallery {
    grid-area: title-gallery;
    text-align: center;
  }

  .gallery-acerca {
    grid-area: galeria;
    height: 100%;
    width: 80%;
    justify-self: center;
  }
}

.slide-acerca {
  height: 100%;
  width: 100%;
  img {
    border-radius: 1em;
    height: 100%;
  }
}

//Adaptacion responsive acerca.html//

@media (min-width: view(mid)) {
  .main-acerca {
    width: 90%;
    margin: 20px 5%;
    display: grid;
    grid-template-columns: 40vw 50vw;
    grid-template-rows: 7vh 40vh 40vh 7vh 50vh;
    grid-template-areas:
      "title-acerca title-acerca"
      "historia1 img-acerca"
      "historia2 img-acerca"
      "title-gallery title-gallery"
      "galeria galeria";
    row-gap: 10px;
    column-gap: 10px;
  }
}

@media (min-width: view(xlarge)) {
  .main-acerca {
    width: 90%;
    margin: 20px 5%;
    display: grid;
    grid-template-columns: 25vw 30vw 35vw;
    grid-template-rows: 7vh 50vh 50vh;
    grid-template-areas:
      "title-acerca title-acerca title-gallery"
      "historia1 img-acerca galeria"
      "historia2 img-acerca galeria";
    row-gap: 10px;
    column-gap: 10px;
  }
}




