// Maquetado//
.main-articulo {
  width: 90%;
  margin: 5%;
  display: grid;
  grid-template-columns: 90vw;
  grid-template-rows: 10vh 100vw 60vh 15vh;
  grid-template-areas:
    "title-articulo"
    "img-articulo"
    "descripcion"
    "porciones";

  .title-articulo {
    grid-area: title-articulo;
    text-align: center;
  }

  .img-articulo {
    width: 100%;
    grid-area: img-articulo;
    border-radius: 1em;
    overflow: hidden;
    img {
      width: 100%;
      @include imagen;
    }
  }

  .descripcion {
    grid-area: descripcion;

    p {
      margin: 10px;
    }
  }

  form.porciones {
    grid-area: porciones;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    

    div.botones {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

//Adaptacion responsive de la compra de articulos//
@media (min-width: view(mid)) {
  main.main-articulo {
    width: 90%;
    margin: 5%;
    display: grid;
    grid-template-columns: 40vw 50vw;
    grid-template-rows: 10vh 55vh 40vh;
    grid-template-areas:
      "title-articulo title-articulo"
      "descripcion img-articulo"
      "porciones img-articulo";
    gap: 10px;
  }
}

@media (min-width: view(large)) {
  div.select {
    align-self: center;
  }
}
