// Maquetado en _grid.scss//
.title-articulo {
    grid-area: title-articulo;
    text-align: center;
}

.img-articulo {
    width: 100%;
    grid-area: img-articulo;
    border-radius: 1em;
    overflow: hidden;
    img {
        width: 100%;
        object-fit: cover;
        object-position: center center;
    }    
}

.descripcion {
    grid-area: descripcion;
}

div.porciones {
    grid-area: porciones;
}

select {
    grid-area: porciones-form;
    height: max-content;
    width: max-content;
    align-self: center;
}

form.porciones  {
    a {
    grid-area: botones;
    height: max-content;
    width: max-content;
    align-self: center;
    justify-self: right;
}
}

form.porciones  {
    button {
    grid-area: botones;
    height: max-content;
    width: max-content;
    align-self: center;
    justify-self: left;
}
}