

.img-contacto1 {
    grid-area: img-contacto1;
    width: 100%;
    overflow: hidden;
    border-radius: 1em;
}

.img-contacto2 {
    @extend .img-contacto1;
    grid-area: img-contacto2;
}

.img-contacto1 {
    img {
    height: 100%;
    object-position: center center;
    object-fit: cover;
}
}

.img-contacto2 {
    @extend .img-contacto1;
}


.contacto-whatsapp {
    grid-area: whatsapp;
    padding: 20px 0;
}

.contacto-redes {
    grid-area: redes;
    padding: 20px 0;
}

.contacto-newsletter {
    grid-area: newsletter;
    padding: 20px 0;
}

input.email {
    width: 100%;
}

