// Maquetado con Bootstrap//

.main-index {
  margin: 20px 10px;

  index-card {
    height: 75vh;
    min-height: 550px;

    img {
      height: 65%;
      object-fit: cover;
      object-position: center center;
      border-radius: 1em;
    }

    card-body {
      margin-top: 5px;
      height: 30%;

      h5 {
        font-size: 1.4em;
      }
    }
  }
}

/*Modificaciones de la galeria slide*/

.gallery-index {
  width: 90vw;
  margin: 5% 5%;

  h2 {
    text-align: center;
  }

  .carousel.slide {
    width: 90%;
    margin: auto;
    max-width: 500px;

    .carousel-inner {
      width: 100%;
      margin: 0 5%;

      .carousel-item,
      .carrousel-item.active {
        width: 100%;

        img {
            width: 90%;
            object-fit: cover;
            object-position: center center;
            border-radius: 1em;
          }
      }
    }
  }
}