div.main-index {
    margin: 20px 10px;
}

div.index-card {
    height: 75vh;
    min-height: 550px;
}

div.index-card img {
    height: 65%;
    object-fit: cover;
    object-position: center center;
    border-radius: 1em;
}

div.card-body {
    margin-top: 5px;
    height: 30%;
}

h5 {
    font-size: 1.4em;
}

h2 {
    text-align: center;
}

/*Modificaciones de la galeria slide*/

div.gallery-index {
    width: 90vw;
    margin: 5% 5%;
}

div.carousel-inner {
    width: 100%;
    margin: 0 5%;
}

div.carousel-item,
div.carrousel-item.active {
    width: 100%;
}

div.carousel-item img {
    width: 90%;
    object-fit: cover;
    object-position: center center;
    border-radius: 1em;
}

div.carousel.slide {
    width: 90%;
    margin: auto;
    max-width: 500px;
}