//Maquetado con Bootstrap//
h1 {
    text-align: center;
}

.list-group-item {
    height: 20vh;
    width: 100%;
}

.row.recipes-list {
    width: 100%;
}

.recipes {
    padding: 0;
    text-align: center;
}

.receta1 {
    background-image: url(../assets/tortas/torta19.jpeg);
    background-position: center center;
    background-size: cover;
    color: color(links);
    font-weight: bolder;
    padding-top: 15vh;
}

.receta2 {
    @extend .receta1;
    background-image: url(../assets/tortas/torta17.jpeg);
}

.receta3 {
    @extend .receta1;
    background-image: url(../assets/tortas/torta10.jpeg);
}

.receta4 {
    @extend .receta1;
    background-image: url(../assets/tortas/torta4.jpeg);
}

/* Responsive recetario */

@media (min-width: view(mid)) {
    .list-group-item {
        height: 40vh;
        width: 100%;
        padding-top: 30vh;
    }
}