//Maquetado con Bootstrap//
h1 {
  text-align: center;
}

.main-recetas {
  margin: 5%;
  width: 90%;

  .recipes {
    p {
      display: flex;
      justify-content: space-evenly;

      button {
        padding: 0;
        border: 0;
        height: 25%;
        width: 23%;
        border-radius: 1em;

        img {
          @include imagen;
          width: 100%;
        }
      }
    }

    .card {
      border: 0;
      padding: 0;
      background-color: color(main);
    }
  }
}
