

div.articulo img {
    height: 70%;
    object-fit: cover;
    border-radius: 1em;
}

div.articulo a {
    margin-top: 10px;
}

/*Estilo responsive tienda*/

@media screen and (min-width: 480px) {
    div.main-tienda {
        display: grid;
        grid-template-columns: 45vw 45vw;
        grid-template-rows: repeat(3, 70vh);
        justify-items: center;
        margin: 20px 5%;
        row-gap: 20px;
    }
}

@media screen and (min-width: 992px) {
    div.main-tienda {
        display: grid;
        grid-template-columns: 30vw 30vw 30vw;
        grid-template-rows: repeat(2, 100vh);
        justify-items: center;
        margin: 20px 5%;
        row-gap: 20px;
    }
}
