//Maquetado//
ul.nav-tienda {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  list-style: none;
  text-align: center;
}

.main-tienda {
  display: grid;
  grid-template-columns: 90vw;
  grid-template-rows: repeat(3, 60vh);
  justify-items: center;
  margin: 20px 5%;
  row-gap: 20px;

  .articulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;

    img {
      height: 70%;
      object-fit: cover;
      border-radius: 1em;
    }

    a {
      margin-top: 10px;
    }
  }
}

//Estilo particular para la tienda de tortas//
.main-tienda-tortas {
  display: grid;
  grid-template-columns: 90vw;
  grid-template-rows: repeat(6, 60vh);
  justify-items: center;
  margin: 20px 5%;
  row-gap: 20px;

  .articulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;

    img {
      height: 70%;
      object-fit: cover;
      border-radius: 1em;
    }

    a {
      margin-top: 10px;
    }
  }
}
/*Adaptacion responsive tienda*/
@media (min-width: view(xsmall)) {
  div.main-tienda-tortas {
    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: repeat(3, 70vh);
    justify-items: center;
    margin: 20px 5%;
    row-gap: 20px;
  }

  div.main-tienda {
    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: repeat(2, 70vh);
    justify-items: center;
    margin: 20px 5%;
    row-gap: 20px;
  }
}
@media (min-width: view(large)) {
  div.main-tienda-tortas {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: repeat(2, 100vh);
    justify-items: center;
    margin: 20px 5%;
    row-gap: 20px;
  }

  div.main-tienda {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 100vh;
    justify-items: center;
    margin: 20px 5%;
    row-gap: 20px;
  }
}
