* {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9d1d1;
    box-sizing: border-box;
}

body {
    background-color: #f9d1d1;
}

a {
    text-decoration: none;
    color: black;
}